<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="a7679e">  <td>20/12/26 17:10:10</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ShopcluesParentTest1.ShopcluesLogin()[pri:0, instance:com.crm.qa.testcases.ShopcluesParentTest1@4b29d1d2]">ShopcluesLogin</td> 
  <td>main@810267739</td>   <td></td> </tr>
<tr bgcolor="a7679e">  <td>20/12/26 17:10:42</td>   <td>31900</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ShopcluesParentTest1.afterClass()[pri:0, instance:com.crm.qa.testcases.ShopcluesParentTest1@4b29d1d2]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@810267739</td>   <td></td> </tr>
<tr bgcolor="a7679e">  <td>20/12/26 17:09:59</td>   <td>-10922</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ShopcluesParentTest1.beforeClass()[pri:0, instance:com.crm.qa.testcases.ShopcluesParentTest1@4b29d1d2]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@810267739</td>   <td></td> </tr>
</table>
