<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="a5a39b">  <td>20/12/26 17:05:08</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="EditProfile_ChildTest.AllBlank()[pri:0, instance:com.crm.qa.testcases.EditProfile_ChildTest@4e91d63f]">AllBlank</td> 
  <td>main@1378084334</td>   <td></td> </tr>
<tr bgcolor="a1c291">  <td>20/12/26 17:05:08</td>   <td>-23</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ChangePWD_Child2Test.AllBlank1()[pri:0, instance:com.crm.qa.testcases.ChangePWD_Child2Test@1a04f701]">AllBlank1</td> 
  <td>main@1378084334</td>   <td></td> </tr>
<tr bgcolor="a1c291">  <td>20/12/26 17:05:08</td>   <td>-17</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ChangePWD_Child2Test.ConfirmPWDBlank()[pri:0, instance:com.crm.qa.testcases.ChangePWD_Child2Test@1a04f701]">ConfirmPWDBlank</td> 
  <td>main@1378084334</td>   <td></td> </tr>
<tr bgcolor="a1c291">  <td>20/12/26 17:05:08</td>   <td>-12</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ChangePWD_Child2Test.CurrentPWDBlank()[pri:0, instance:com.crm.qa.testcases.ChangePWD_Child2Test@1a04f701]">CurrentPWDBlank</td> 
  <td>main@1378084334</td>   <td></td> </tr>
<tr bgcolor="a5a39b">  <td>20/12/26 17:05:08</td>   <td>4</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="EditProfile_ChildTest.FirstNameBlank()[pri:0, instance:com.crm.qa.testcases.EditProfile_ChildTest@4e91d63f]">FirstNameBlank</td> 
  <td>main@1378084334</td>   <td></td> </tr>
<tr bgcolor="a5a39b">  <td>20/12/26 17:05:08</td>   <td>31</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="EditProfile_ChildTest.JunkCharcter()[pri:0, instance:com.crm.qa.testcases.EditProfile_ChildTest@4e91d63f]">JunkCharcter</td> 
  <td>main@1378084334</td>   <td></td> </tr>
<tr bgcolor="a5a39b">  <td>20/12/26 17:05:08</td>   <td>41</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="EditProfile_ChildTest.LastNameBlank()[pri:0, instance:com.crm.qa.testcases.EditProfile_ChildTest@4e91d63f]">LastNameBlank</td> 
  <td>main@1378084334</td>   <td></td> </tr>
<tr bgcolor="a5a39b">  <td>20/12/26 17:05:08</td>   <td>46</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="EditProfile_ChildTest.MinimumCharcater()[pri:0, instance:com.crm.qa.testcases.EditProfile_ChildTest@4e91d63f]">MinimumCharcater</td> 
  <td>main@1378084334</td>   <td></td> </tr>
<tr bgcolor="a1c291">  <td>20/12/26 17:05:08</td>   <td>-8</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ChangePWD_Child2Test.NewPWDBlank()[pri:0, instance:com.crm.qa.testcases.ChangePWD_Child2Test@1a04f701]">NewPWDBlank</td> 
  <td>main@1378084334</td>   <td></td> </tr>
<tr bgcolor="a5a39b">  <td>20/12/26 17:05:08</td>   <td>54</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="EditProfile_ChildTest.PhoneBlank()[pri:0, instance:com.crm.qa.testcases.EditProfile_ChildTest@4e91d63f]">PhoneBlank</td> 
  <td>main@1378084334</td>   <td></td> </tr>
<tr bgcolor="a5a39b">  <td>20/12/26 17:05:08</td>   <td>57</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="EditProfile_ChildTest.Trim()[pri:0, instance:com.crm.qa.testcases.EditProfile_ChildTest@4e91d63f]">Trim</td> 
  <td>main@1378084334</td>   <td></td> </tr>
<tr bgcolor="a5a39b">  <td>20/12/26 17:05:08</td>   <td>64</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="EditProfile_ChildTest.ValidInfo()[pri:7, instance:com.crm.qa.testcases.EditProfile_ChildTest@4e91d63f]">ValidInfo</td> 
  <td>main@1378084334</td>   <td></td> </tr>
<tr bgcolor="a1c291">  <td>20/12/26 17:05:08</td>   <td>-5</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ChangePWD_Child2Test.WrongCurrentPWD()[pri:0, instance:com.crm.qa.testcases.ChangePWD_Child2Test@1a04f701]">WrongCurrentPWD</td> 
  <td>main@1378084334</td>   <td></td> </tr>
<tr bgcolor="a1c291">  <td>20/12/26 17:05:08</td>   <td>69</td> <td>&nbsp;</td><td title="&lt;&lt;ChangePWD_Child2Test.afterTest()[pri:0, instance:com.crm.qa.testcases.ChangePWD_Child2Test@1a04f701]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1378084334</td>   <td></td> </tr>
<tr bgcolor="a5a39b">  <td>20/12/26 17:05:08</td>   <td>69</td> <td>&nbsp;</td><td title="&lt;&lt;EditProfile_ChildTest.afterTest()[pri:0, instance:com.crm.qa.testcases.EditProfile_ChildTest@4e91d63f]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1378084334</td>   <td></td> </tr>
<tr bgcolor="e0979d">  <td>20/12/26 17:05:08</td>   <td>-67</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ShopcluesParentTest1.beforeClass()[pri:0, instance:com.crm.qa.testcases.ShopcluesParentTest1@d4342c2]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1378084334</td>   <td></td> </tr>
<tr bgcolor="a1c291">  <td>20/12/26 17:05:08</td>   <td>-82</td> <td>&nbsp;</td><td title="&gt;&gt;ChangePWD_Child2Test.beforeTest()[pri:0, instance:com.crm.qa.testcases.ChangePWD_Child2Test@1a04f701]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1378084334</td>   <td></td> </tr>
<tr bgcolor="a5a39b">  <td>20/12/26 17:05:08</td>   <td>-75</td> <td>&nbsp;</td><td title="&gt;&gt;EditProfile_ChildTest.beforeTest()[pri:0, instance:com.crm.qa.testcases.EditProfile_ChildTest@4e91d63f]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1378084334</td>   <td></td> </tr>
</table>
